<!-- src/app/login/login.component.html -->
<div class="flex justify-content-center align-items-center h-screen">
  <p-card header="Login" class="w-6">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid">
        <div class="field p-mb-3">
          <label for="username" class="p-d-block p-mr-2">Username</label>
          <input id="username" type="text" pInputText formControlName="username" class="p-d-block" [ngClass]="{ 'p-invalid': submitted && f['username'].errors }">
          <div *ngIf="submitted && f['username'].errors" class="p-error">
            <small *ngIf="f['username'].errors['required']">Username is required</small>
          </div>
        </div>
        <div class="field p-mb-3">
          <label for="senha" class="p-d-block p-mr-2">Password</label>
          <input id="senha" type="password" pInputText formControlName="senha" class="p-d-block" [ngClass]="{ 'p-invalid': submitted && f['senha'].errors }">
          <div *ngIf="submitted && f['senha'].errors" class="p-error">
            <small *ngIf="f['senha'].errors['required']">Password is required</small>
          </div>
        </div>
        <div class="field p-mb-3 text-center">
          <button pButton type="submit" label="Login" icon="pi pi-check" [disabled]="loading" class="p-button-rounded"></button>
          <img *ngIf="loading" src="loading.gif" alt="Loading..." class="p-ml-2">
        </div>
        <div *ngIf="error" class="p-error p-mt-2">{{ error }}</div>
      </div>
    </form>
  </p-card>
</div>
