<!-- <p-button (onClick)="showDelete()" label="Show" /> -->
<p-button (onClick)="showUserForm()" label="Cadastrar" />

<p-table [columns]="cols" [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{ col.header }}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
              {{ rowData[col.field] }}
          </td>
      </tr>
  </ng-template>
</p-table>

<app-register-form [visible]="showDialogUserForm" (onHide)="showDialogUserForm = false" (confirm)="saveOrUpdate()"></app-register-form>
  <app-confirm-delete [visible]="showDialogDelete" (onHide)="showDialogDelete = false" (confirm)="deleteUser()"></app-confirm-delete>

