<p-button (onClick)="showRegisterUser()" label="Cadastrar" />
<p-table [columns]="cols" [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{ col.header }}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
              <span *ngIf="col.field !== 'operacoes'">{{ rowData[col.field] }}</span>
              <span *ngIf="col.field == 'operacoes'">
                <p-button (onClick)="showDelete(rowData)" icon="pi pi-trash" />
                <p-button (onClick)="showUpdateUser(rowData)" icon="pi pi-user-edit" />
              </span>
          </td>
      </tr>
  </ng-template>
</p-table>

<app-register-form [visible]="showDialogResgiter" (onHide)="showDialogResgiter = false;" (confirm)="registerUser()"></app-register-form>
<app-register-form [visible]="showDialogUpdate" (onHide)="showDialogUpdate = false;" (confirm)="updateUser()" [user]="userUpdate"></app-register-form>
<app-confirm-delete [visible]="showDialogDelete" (onHide)="showDialogDelete = false" (confirm)="deleteUser()"></app-confirm-delete>

