<p-card>
  <div class="confirm-button register-button">

    <p-button (onClick)="showRegisterUser()" label="Cadastrar" />
  </div>
  <p-table [columns]="cols" [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <span *ngIf="col.field !== 'operacoes'">{{ rowData[col.field] }}</span>
          <span *ngIf="col.field == 'operacoes'" class="operation-buttons">
            <div class="table-button" style="padding-right: 10px;">
              <p-button (onClick)="showDelete(rowData)" icon="pi pi-trash" />
            </div>
            <div class="table-button">
              <p-button (onClick)="showUpdateUser(rowData)" icon="pi pi-user-edit" />
            </div>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>


<app-register-form [visible]="showDialogResgiter" (onHide)="showDialogResgiter = false;"
  (confirm)="registerUser()"></app-register-form>
<app-register-form [visible]="showDialogUpdate" (onHide)="showDialogUpdate = false;" (confirm)="updateUser()"
  [user]="userUpdate"></app-register-form>
<app-confirm-delete [visible]="showDialogDelete" (onHide)="showDialogDelete = false"
  (confirm)="deleteUser()"></app-confirm-delete>
